<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="192.168.16.60" />
    <add key="UID" value="sa" />
    <add key="PWD" value="operp" />
    <add key="Database" value="DG-MT-ERP" />
    <add key="Title" value="東莞明泰" />
    <add key="PlanMailTo" value="fish1@mt.imedia.com.tw,lizeyan@mt.imedia.com.tw,rock@mt.imedia.com.tw,mt013@mt.imedia.com.tw,angle@mt.imedia.com.tw,sam@mt.imedia.com.tw,fish@mt.imedia.com.tw,amg@mt.imedia.com.tw,youyou@mt.imedia.com.tw,zhangqinqin@mt.imedia.com.tw,linhua@mt.imedia.com.tw,heyongfang@mt.imedia.com.tw,han@mt.imedia.com.tw,jerry@mt.imedia.com.tw" />
    <add key="PlanMailCC" value="Jack.fang@mt.imedia.com.tw,milo@imedia.com.tw,chuck@mt.imedia.com.tw,jod@mt.imedia.com.tw,mike.lin@mt.imedia.com.tw,vincent@mt.imedia.com.tw,karson@imedia.com.tw,jenny@imedia.com.tw,my80@my.imedia.com.tw" />
    <add key="RejectMailTo" value="fish1@mt.imedia.com.tw,lizeyan@mt.imedia.com.tw,rock@mt.imedia.com.tw,mt013@mt.imedia.com.tw,angle@mt.imedia.com.tw,sam@mt.imedia.com.tw,fish@mt.imedia.com.tw,amg@mt.imedia.com.tw,youyou@mt.imedia.com.tw,zhangqinqin@mt.imedia.com.tw,linhua@mt.imedia.com.tw,heyongfang@mt.imedia.com.tw,han@mt.imedia.com.tw,jerry@mt.imedia.com.tw,pqe1@mt.imedia.com.tw,yinlan@mt.imedia.com.tw" />
    <add key="RejectMailCC" value="Jack.fang@mt.imedia.com.tw,milo@imedia.com.tw,chuck@mt.imedia.com.tw,jod@mt.imedia.com.tw,mike.lin@mt.imedia.com.tw,karson@imedia.com.tw,vincent@mt.imedia.com.tw,ben@imedia.com.tw,andrew@mt.imedia.com.tw,artemis@imedia.com.tw,arthur@mt.imedia.com.tw,neil@imedia.com.tw,jenny@imedia.com.tw,my80@my.imedia.com.tw" />
    <add key="TenDayMailTo" value="fish1@mt.imedia.com.tw,lizeyan@mt.imedia.com.tw,mt013@mt.imedia.com.tw,angle@mt.imedia.com.tw,fish@mt.imedia.com.tw,amg@mt.imedia.com.tw,youyou@mt.imedia.com.tw,zhangqinqin@mt.imedia.com.tw,linhua@mt.imedia.com.tw,han@mt.imedia.com.tw" />
    <add key="TenDayMailCC" value="Jack.fang@mt.imedia.com.tw,jod@mt.imedia.com.tw,mike.lin@mt.imedia.com.tw,my80@my.imedia.com.tw" />
    <add key="FinishMailTo" value="fish1@mt.imedia.com.tw,lizeyan@mt.imedia.com.tw,rock@mt.imedia.com.tw,mt013@mt.imedia.com.tw,angle@mt.imedia.com.tw,fish@mt.imedia.com.tw,amg@mt.imedia.com.tw,youyou@mt.imedia.com.tw,zhangqinqin@mt.imedia.com.tw,linhua@mt.imedia.com.tw,vincent@imedia.com.tw,heyongfang@mt.imedia.com.tw,han@mt.imedia.com.tw,jerry@mt.imedia.com.tw,pqe1@mt.imedia.com.tw,yinlan@mt.imedia.com.tw" />
    <add key="FinishMailCC" value="Jack.fang@mt.imedia.com.tw,milo@imedia.com.tw,chuck@mt.imedia.com.tw,jod@mt.imedia.com.tw,mike.lin@mt.imedia.com.tw,sam@mt.imedia.com.tw,karson@imedia.com.tw,arthur@mt.imedia.com.tw,neil@imedia.com.tw,jenny@imedia.com.tw,my80@my.imedia.com.tw" />
    <add key="ProduceMailTo" value="fish@mt.imedia.com.tw,amg@mt.imedia.com.tw,youyou@mt.imedia.com.tw,zhangqinqin@mt.imedia.com.tw,linhua@mt.imedia.com.tw" />
    <add key="ProduceMailCC" value="han@mt.imedia.com.tw,fish1@mt.imedia.com.tw,my80@my.imedia.com.tw" />
    <add key="8DMailTo" value="jane123@my.imedia.com.tw,lwy@my.imedia.com.tw,ailian@my.imedia.com.tw,shuyan@my.imedia.com.tw,BillyMa@my.imedea.com.tw,my30@my.imedia.com.tw,my99@my.imedia.com.tw,matao@my.imedia.com.tw,my75@my.imedia.com.tw,even@my.imedia.com.tw,my27@my.imedia.com.tw,my44@my.imedia.com.tw,my59@my.imedia.com.tw,my23@my.imedia.com.tw,xuyun@my.imedia.com.tw,my24@my.imedia.com.tw,my002@my.imedia.com.tw,lifu@my.imedia.com.tw,my27@my.imedia.com.tw,my54@my.imedia.com.tw,my85@my.imedia.com.tw,songfangxu@my.imedia.com.tw,my65@my.imedia.com.tw,MY91@my.imedia.com.tw,leo@my.imedia.com.tw,Tim_Pan@my.imedia.com.tw,lulu@my.imedia.com.tw,my79@my.imedia.com.tw,eally_zhang@my.imedia.com.tw,kitty@my.imedia.com.tw,diana@my.imedia.com.tw,my88@my.imedia.com.tw,rhy@my.imedia.com.tw,my005@my.imedia.com.tw,varsha_zhang@my.imedia.com.tw" />
    <add key="8DMailCC" value="randy@my.imedia.com.tw,dennis.chen@my.imedia.com.tw,hamu@imedia.com.tw,paul@my.imedia.com.tw,jeff_yang@my.imedia.com.tw,kenny@my.imedia.com.tw,alexsu@my.imedia.com.tw,sparktsai@my.imedia.com.tw,my108@my.imedia.com.tw,my105@my.imedia.com.tw,hannah@imedia.com.tw,jenny@imedia.com.tw,my80@my.imedia.com.tw" />
    <add key="MachineMailTo" value="ggr@my.imeda.com.tv,my30@my.imedia.com.tw,my27@my.imedia.com.tw,my85@my.imedia.com.tw,my39@my.imedia.com.tw,lifu@my.imedia.com.tw,matao@my.imedia.com.tw,my65@my.imedia.com.tw,my43@my.imedia.com.tw,my75@my.imedia.com.tw,even@my.imedia.com.tw,jane123@my.imedia.com.tw,lwy@my.imedia.com.tw" />
    <add key="MachineMailCC" value="paul@my.imedia.com.tw,my108@my.imedia.com.tw,randy@my.imedia.com.tw,dennis.chen@my.imedia.com.tw,hamu@imedia.com.tw,homg@imedia.com.tw,neil@imedia.com.tw,jeff_yang@my.imedia.com.tw,alexsu@my.imedia.com.tw,hannah@imedia.com.tw,jenny@imedia.com.tw,my80@my.imedia.com.tw" />

    <!-- 
    <add key ="Server" value ="192.168.1.16"/>
    <add key ="UID" value ="sa"/>
    <add key ="PWD" value ="sql891195"/>
    <add key ="Database" value ="oterp-new"/>
    <add key ="Title" value ="苏州明扬"/>
    <add key ="PlanMailTo" value ="cui@my.imedia.com.tw,my33@my.imedia.com.tw,yang@my.imedia.com.tw,my29@my.imedia.com.tw,my67@my.imedia.com.tw,my81@my.imedia.com.tw,my62@my.imedia.com.tw,my16@my.imedia.com.tw,my98@my.imedia.com.tw,my64@my.imedia.com.tw,xang@my.imedia.com.tw,my18@my.imedia.com.tw"/>
    <add key ="PlanMailCC" value ="jane123@my.imedia.com.tw,lwy@my.imedia.com.tw,jenny@imedia.com.tw,sparktsai@my.imedia.com.tw,my80@my.imedia.com.tw"/>
    <add key ="RejectMailTo" value ="jane123@my.imedia.com.tw,lwy@my.imedia.com.tw,my44@my.imedia.com.tw,my105@my.imedia.com.tw,my108@my.imedia.com.tw,alexsu@my.imedia.com.tw,laitecheng@my.imedia.com.tw,kenny@my.imedia.com.tw,my18@my.imedia.com.tw,xang@my.imedia.com.tw,my64@my.imedia.com.tw,yang@my.imedia.com.tw,my33@my.imedia.com.tw,my16@my.imedia.com.tw,my81@my.imedia.com.tw,my29@my.imedia.com.tw,cui@my.imedia.com.tw,my62@my.imedia.com.tw"/>
    <add key ="RejectMailCC" value ="randy@my.imedia.com.tw,dennis.chen@my.imedia.com.tw,jenny@imedia.com.tw,sparktsai@my.imedia.com.tw,my80@my.imedia.com.tw"/>
    <add key ="TenDayMailTo" value ="my18@my.imedia.com.tw,xang@my.imedia.com.tw,lghua@my.imedia.com.tw,my64@my.imedia.com.tw"/>
    <add key ="TenDayMailCC" value ="jane123@my.imedia.com.tw,lwy@my.imedia.com.tw,my80@my.imedia.com.tw"/>
    <add key ="FinishMailTo" value ="my18@my.imedia.com.tw,xang@my.imedia.com.tw,my64@my.imedia.com.tw,cui@my.imedia.com.tw,my33@my.imedia.com.tw,my81@my.imedia.com.tw,my29@my.imedia.com.tw,yang@my.imedia.com.tw,my62@my.imedia.com.tw,my67@my.imedia.com.tw,my98@my.imedia.com.tw"/>
    <add key ="FinishMailCC" value ="lwy@my.imedia.com.tw,jane123@my.imedia.com.tw,jenny@imedia.com.tw,sparktsai@my.imedia.com.tw,my80@my.imedia.com.tw"/>
    <add key ="ProduceMailTo" value ="my18@my.imedia.com.tw,xang@my.imedia.com.tw,lghua@my.imedia.com.tw,my64@my.imedia.com.tw"/>
    <add key ="ProduceMailCC" value ="jane123@my.imedia.com.tw,lwy@my.imedia.com.tw,my80@my.imedia.com.tw"/>    
    <add key ="8DMailTo" value ="fish1@mt.imedia.com.tw,lizeyan@mt.imedia.com.tw,rock@mt.imedia.com.tw,mt013@mt.imedia.com.tw,angle@mt.imedia.com.tw,fish@mt.imedia.com.tw,han@mt.imedia.com.tw,jerry@mt.imedia.com.tw,pqe1@mt.imedia.com.tw"/>
    <add key ="8DMailCC" value ="Jack.fang@mt.imedia.com.tw,milo@imedia.com.tw,chuck@mt.imedia.com.tw,jod@mt.imedia.com.tw,mike.lin@mt.imedia.com.tw,karson@imedia.com.tw,vincent@mt.imedia.com.tw,ben@imedia.com.tw,andrew@mt.imedia.com.tw,artemis@imedia.com.tw,neil@imedia.com.tw,jenny@imedia.com.tw,my80@my.imedia.com.tw"/>    
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>